USE [Mascotas_DB2]
GO
/****** Object:  Table [dbo].[Citas.Veterinarias]    Script Date: 28/12/2025 11:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas.Veterinarias](
	[Id] [int] NOT NULL,
	[FechaCita] [datetime] NULL,
	[Razon] [varbinary](255) NULL,
	[IdMascota] [int] NULL,
 CONSTRAINT [PK_Citas.Veterinarias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mascotas]    Script Date: 28/12/2025 11:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mascotas](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Especie] [varchar](100) NULL,
	[Raza] [varchar](100) NULL,
	[FechaNacimiento] [date] NULL,
	[IdUsuario] [int] NULL,
 CONSTRAINT [PK_Mascotas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registros.Salud]    Script Date: 28/12/2025 11:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registros.Salud](
	[Id] [int] NOT NULL,
	[FechaRegistro] [date] NULL,
	[Peso] [decimal](5, 2) NULL,
	[Altura] [decimal](5, 2) NULL,
	[Temperatura] [decimal](5, 2) NULL,
	[IdMascota] [int] NULL,
 CONSTRAINT [PK_Registros.Salud] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 28/12/2025 11:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Apellido] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Clave] [varchar](50) NULL,
	[FechaRegistro] [datetime] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Citas.Veterinarias]  WITH CHECK ADD  CONSTRAINT [FK_Citas.Veterinarias_Mascotas] FOREIGN KEY([IdMascota])
REFERENCES [dbo].[Mascotas] ([Id])
GO
ALTER TABLE [dbo].[Citas.Veterinarias] CHECK CONSTRAINT [FK_Citas.Veterinarias_Mascotas]
GO
ALTER TABLE [dbo].[Mascotas]  WITH CHECK ADD  CONSTRAINT [FK_Mascotas_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Mascotas] CHECK CONSTRAINT [FK_Mascotas_Usuarios]
GO
ALTER TABLE [dbo].[Registros.Salud]  WITH CHECK ADD  CONSTRAINT [FK_Registros.Salud_Mascotas] FOREIGN KEY([IdMascota])
REFERENCES [dbo].[Mascotas] ([Id])
GO
ALTER TABLE [dbo].[Registros.Salud] CHECK CONSTRAINT [FK_Registros.Salud_Mascotas]
GO
